body {
  font-family: 'Rubik', sans-serif !important;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: none;
  height: 100vh;
}

.container {
  max-width: 800px;
}

#image {
  background-image: url("https://images.pexels.com/photos/9017620/pexels-photo-9017620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

.container .text p {
  text-align: justify !important;
}